.chat-main {
	margin: 0;
	width: 100%;
	height: 100%;
	align-items: inherit;
}

.chat-title-div {
	width: 100%;
	background: #FFFFFF;
	color: black;
	order: 0;
	font-size: 2.3em;
	padding-left: 0.2em;
	height: 72px;

	.chat-title {
		vertical-align:  -webkit-baseline-middle;
	}
}

.chat-body {
	word-wrap: break-word;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	padding-bottom: 1em;
	order: 1;
	background-color: #f9fafa;
}

.chat-footer {
	order: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.chat-message-field {
	z-index: 52;
	left: 21.1rem;
	right: 1rem;
	width: 100%;
	order: 2;
	margin-top: 0.5em;
}

.my-message {

	.message {
		float: right!important;
		padding-right: 6px;
		clear: both;
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
}

.transparent-bg {
	background: transparent !important;
}

.others-message {

	.username-btn {
		background: Transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
	}

	.message {
		padding-left: 6px;
		clear: both;
		padding-top: 0.1em;
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
}

.talk-bubble {
	padding: 5px;
	display: inline-block;
	position: relative;
	height: auto;
	background-color: #FFFFFF;
	max-width: 70%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.round{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

li {
	&.row {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
}

.user-exited-message,
.user-joined-message {
	text-align: center;
}


.message-composer {
	width: 95%;
	margin-top: 15px;

	 @media (max-width: 1225px) {
	 	width: 94%;
	 }

	@media (max-width: 1070px) {
	 	width: 93%;
	 }

	 @media (max-width: 960px) {
	 	width: 92%;
	 }

	 @media (max-width: 870px) {
	 	width: 90%;
	 }

	@media (max-width: 750px) {
	 	width: 88%;
	 }
}

.emoji-button {
  background:none;
  border:none;
  font-size: 30px;
  color: #95a5a6;
  float: left;
  margin-right: 10px;
  margin-top: -8px;
}

.settings-button {
	float: right;
    margin-top: -50px;
}