$chat-bg-color: #f9fafa;

.chat-main {
	margin: 0;
	width: 100%;
	height: 100%;
	align-items: inherit;
}

.chat-title-div {
	width: 100%;
	background: #FFFFFF;
	color: black;
	order: 0;
    font-weight: 500;
	font-size: 1.5em;
    padding-top: 8px;
	padding-left: 0.2em;
	min-height: 56px;

	.chat-title {
		vertical-align:  -webkit-baseline-middle;
	}
}

.chat-description {
    font-weight: 500;
    font-size: 1.2em;
}

.chat-body {
	word-wrap: break-word;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	padding-bottom: 1em;
	order: 1;
	background-color: $chat-bg-color;
}

.chat-footer {
    order: 1;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    bottom: 0;
}

.chat-message-field {
    height: 60px;
    display: flex;
    flex-flow: row wrap;
}

.my-message {

	.message {
		float: right!important;
		padding-right: 6px;
		clear: both;
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
	.message-date {
		float: right!important;
		clear: both;
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
}

.transparent-bg {
	background: transparent !important;
}

.others-message {

	.username-btn {
		background: Transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
		height: 50px;
		vertical-align: center;
	}

	.message {
		padding-left: 6px;
		clear: both;
		padding-top: 0.1em;
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
}

.talk-bubble {
	padding: 5px;
	display: inline-block;
	position: relative;
	height: auto;
	background-color: #FFFFFF;
	max-width: 70%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.round{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

li {
	&.row {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
}

.user-exited-message,
.user-joined-message {
	text-align: center;
}

.chat-typing {
    height: 20px;
    text-align: right;
    background-color: $chat-bg-color;
    color: #95a5a6;
}

.message-composer {
    flex-grow: 2;
    outline: none;
    border: 0;
}

.send-button:focus {
    outline: none;
}

.emoji-button {
  background:none;
  border:none;
  font-size: 30px;
  color: #95a5a6;
  float: left;
  margin-right: 10px;
  margin-top: -8px;
}

.settings-button {
	float: right;
    margin-top: -40px;
}

.message-date {
	color: #bdc3c7;
}

.message-profile {
	width: 50px;
	float: left;
}