.chat-main {
	margin: 0;
	width: 100%;
	height: 100%;
	align-items: inherit;
}

.chat-title-div {
	width: 100%;
	background: #FFFFFF;
	color: black;
	order: 0;
	font-size: 2.3em;
	padding-left: 0.2em;
	height: 72px;
	text-align: center;

	.chat-title {
		vertical-align:  -webkit-baseline-middle;
	}
}

.chat-body {
	word-wrap: break-word;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	padding-bottom: 1em;
	order: 1;
	background-color: #f9fafa;
}

.chat-footer {
	order: 1;
}

.chat-message-field {
	z-index: 52;
	left: 21.1rem;
	right: 1rem;
	width: 100%;
	order: 2;
	margin-top: 0.5em;
}

.my-message {

	.message {
		float: right!important;
		padding-right: 6px;
		clear: both;
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
}

.others-message {

	.username-btn {
		background: Transparent;
		background-repeat: no-repeat; 
		border: none;
		cursor: pointer; 
		overflow: hidden;
		outline: none;
	}

	.message {
		padding-left: 6px; 
		clear: both;
		padding-top: 0.1em; 
		margin-top: -1px;
		padding-bottom: 0.3em;
	}
}

.talk-bubble {
	padding: 5px;
	display: inline-block;
	position: relative;
	height: auto;
	background-color: #FFFFFF;
	max-width: 70%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.round{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

li {
	&.row {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
}

.user-joined-message {
	text-align: center;
}