@import 'base';
@import '~normalize.css/normalize';
@import 'drawer';
@import 'chat';
@import 'viewChat';

$breakpoint: 500px;

$chat-min-width: $breakpoint;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

span {
    appearance: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.div-create-chat {
  padding-top: 20px;
  padding-left: 25px;
}

// TODO: change the main size when nav bar shows and hide
// depending on window size
.div-main {
	height: 100%;

  @media (min-width: ($breakpoint + 1px)) {
    padding-left: 256px;
  }
}

.checkbox {
  marginBottom: 16;
}

.chip {
  margin: 0px 5px 10px 0px !important;
}

[type=button]{
  -webkit-appearance: none !important;
}

.card-body {
  margin-top: -20px;
}

.card-body-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card-categories {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-chip {
  margin-right: 5px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
