@import 'base';
@import '~normalize.css/normalize';
@import 'drawer';
@import 'chat';
@import 'viewChat';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

span {
    appearance: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.div-create-chat {
  padding-top: 20px;
  padding-left: 25px;
}

// TODO: change the main size when nav bar shows and hide
// depending on window size
.div-main {
	padding-left: 256px;
	height: 100%;
}

.checkbox {
  marginBottom: 16;
}

.chip {
  margin: 0px 5px 0px 0px !important;
}

[type=button]{
  -webkit-appearance: none !important;
}

.enabled-chip {
  background-color: #4fc3f7 !important;
}
